@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <h1 translate="ApplicationName"> </h1>
    <p translate="Description"> </p>


<hr/>


<a href="~/Home/About"> Go To About </a>

<h1> {{'ApplicationName' | translate}} </h1>
<p> {{'Description' | translate }} </p>

